:root {
  --foreground: #121212;
  --background: #ffffff;
  --accent-1: #f5f5f5;
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #121212;
    --accent-1: #303030;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Avenir', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

header {
  border-bottom: 1px var(--accent-1) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

footer {
  border-top: 1px var(--accent-1) solid;
}

header,
footer {
  padding: 1rem;
}

header nav a {
  text-decoration: none;
  text-transform: lowercase;
  
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 700;
}

.default-layout {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

main {
  padding: 1rem;
  width: 100%;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--accent-1);
  text-underline-offset: .25rem;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: auto;
  color: var(--foreground);

  &:hover,
  &:active {
    text-decoration-color: var(--foreground);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    
    a {
      font-size: 1.5rem;
    }
  }
}

h1,
p {
  margin: 0;
}

.button {
  border-radius: .5rem;
  background-color: var(--accent-1);
  cursor: pointer;
  padding: .125rem 1rem;
  font-size: 1.25rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  
  a {
    font-size: 2rem;
    font-weight: 700;
  }
}

h1 {
  margin-bottom: 1rem;
}

.projects {
  margin-bottom: 1rem;

  .project {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.project {
  padding: 1rem;
  border: 1px var(--accent-1) solid;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  
  &_info,
  &_actions {
    height: 100%;
  }
  
  &_info {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    h4 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  
  &_actions {
    display: flex;
    align-items: center;
    border-left: 1px var(--accent-1) solid;
    padding-left: 1rem;
    
    a {
      text-transform: uppercase;
      text-decoration: none;
      display: block;
    }
  }
}

.description {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.cta {
  padding: 2rem 0;
  text-align: center;
}
